<div class="row">
  <%= form_with(model: @medical_test, local: true) do |form| %>
    <div class="row">
      <div class="small-10 columns"></div>
      <div class="small-2 columns">
        <%= form.submit t('actions.save'), class: "button hollow float-right" %>
      </div>
    </div>

    <fieldset>
      <legend>Prueba</legend>
      <div class="row">
        <div class="small-12 columns">
          <div class="medium-4 small-12 columns">
            <%= form.label :name %>
            <%= form.select :name, options_from_collection_for_select(NameTest.all, 'name', 'name',
                                                                      @medical_test.name),
                            {:include_blank => 'Selecciona la prueba'} %>
          </div>
          <div class="medium-4 small-12 columns end">
            <%= form.label :performed_at %>
            <%= form.datetime_field :performed_at %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="medium-4 small-12 columns">
            <%= form.label :medical_center_id %>
            <%= form.select :medical_center_id,
                            options_for_select(MedicalCenter.select_option,
                                               @medical_test.medical_center_id ),
                {:include_blank => 'Selecciona el centro'} %>
          </div>

          <div class="medium-2 small-12 columns end">
            <%= form.label :performed_in %>
            <%= form.text_field :performed_in %>
          </div>
        </div>

        <div class="small-12 columns">
          <%= form.label :instructions %>
          <%= form.text_area :instructions %>
        </div>

        <div class="small-12 columns">
          <%= form.label :report %>
          <%= form.text_area :report %>
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          <%= form.submit t('actions.save'), class: "button hollow" %>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="documents small-12 columns">
        <%= render 'documents/nested_documents', documentable: @medical_test, f: form %>
      </div>
    </div>
    <% if @medical_test.name == 'Análisis' %>
      <div class="row">
        <fieldset>
          <legend>Determinaciones </legend>
          <%= link_to_add_association '[+] añadir determinación', form, :analysis_results %>
          <div id='analysis_result'>
            <%= form.fields_for :analysis_results do |result| %>
              <%= render 'medical_tests/analysis_result_fields', :f => result %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="small-10 columns"></div>
    <% end %>
  <% end %>
</div>