<div class="row">
  <%= form_with(model: @medical_test, local: true) do |form| %>
    <%= form.hidden_field :patient_id, value: @patient.id %>
    <div class="actions">
      <%= form.submit class: "button hollow" %>
    </div>

    <div class="small-12 columns">
      <div class="medium-4 small-12 columns">
        <%= form.label :name %>
        <%= form.select :name, options_from_collection_for_select(NameTest.all, 'name', 'name') %>
      </div>

      <div class="medium-4 small-12 columns end">
        <%= form.label :kind %>
        <%= form.text_field :kind %>
      </div>

    </div>
    <div class="small-12 columns">
      <div class="medium-4 small-12 columns">
        <%= form.label :performed_at %>
        <%= form.datetime_field :performed_at %>
      </div>

      <div class="medium-4 small-12 columns">
        <%= form.label :medical_center_id %>
        <%= form.select :medical_center_id, options_for_select(MedicalCenter.select_option, @medical_test.medical_center) %>
      </div>

      <div class="medium-2 small-12 columns end">
        <%= form.label :performed_in %>
        <%= form.text_field :performed_in %>
      </div>
    </div>

    <div class="small-12 columns">
      <div class="medium-6 small-12 columns">
        <%= label_tag :history_id %>
        <%= form.select :history_id, options_for_select(History.select_option(@patient), @medical_test.history) %>
      </div>
    </div>

    <div class="small-12 columns">
      <div class="medium-6 small-12 columns">
        <%= form.label :instructions %>
        <%= form.text_area :instructions %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="medium-6 small-12 columns">
        <%= form.label :report %>
        <%= form.text_area :report %>
      </div>
    </div>
    <div class="row">
      <h3>
        Resultados de los análisis
        <%= link_to_add_association '[+]', form, :analysis_results %>
      </h3>

    </div>
    <div class="row">
      <div id='analysis_result'>
        <%= form.fields_for :analysis_results do |result| %>
          <%= render 'analysis_result_fields', :f => result %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>