<div class="row">

  <div class="small-12 columns">
    <h1 class="page-title"><%= t('medical_tests.edit.title') %></h1>
    <h4> Paciente: <%= @medical_test.history.user.full_name %> </h4>

    <%= render 'edit_links'%>

    <%= render 'form'%>

    <%= render 'edit_links'%>

  </div>
</div>