<div class="row" >
  <h1><%= t('medical_tests.index.title')%></h1>
</div>
<div class="row" >
  <div class="small-12 columns ">
    <p><%= page_entries_info @medical_tests %></p>
  </div>
  <div class="small-12 columns">
    <%= paginate @medical_tests %>
    <table>
      <thead>
        <tr>
          <th> <%= sort_link @search, :name %></th>
          <th> Fecha de prescripción  </th>
          <th> <%= sort_link @search, :performed_at %></th>
          <th> Paciente </th>
          <th> <%= sort_link @search, :professional %></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @medical_tests.each do |medical_test| %>
          <tr>
            <td title="<%= medical_test.id %>"><%= medical_test.name %></td>
            <td><%= l medical_test.history.event_at&.to_date if medical_test.history.present? %></td>
            <td><%= l medical_test.performed_at %></td>
            <td><%= medical_test.history.patient.full_name %></td>
            <td><%= medical_test.history.professional.full_name if medical_test.history.professional.present? %></td>

            <td><%= link_to '', medical_test_path(medical_test,
                                                  patient_id: medical_test.history.patient),
                            class: "icon-search", title: "Detalle" %></td>
            <td><%= link_to '', edit_medical_test_path(medical_test,
                                                       patient_id: medical_test.history.patient),
                            class: "icon-pencil", title: "Editar" %></td>
            <td>
              <% if medical_test.name == 'Análisis' %>
                <%= link_to '', analysis_results_path(medical_test: medical_test),
                                class: "icon-tags", title: "Resultados" %>
              <% end %>
            </td>
            <td><%= link_to '', medical_test_path(medical_test, patient_id: @patient),
                            method: :delete, data: { confirm: 'Are you sure?' },
                            class: "icon-trash", title: "Eliminar" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 columns">
    <div class="medium-4 small-12 columns">
      <%= link_to t('medical_test.new'), new_medical_test_path(patient_id: @patient) %>
    </div>
    <div class="medium-8 small-12 columns">
      <%= render 'import_analysis' %>
    </div>
  </div>
</div>

