<div class="row">
  <div class="small-12 columns" >
    <h3><%= t('medical_tests.show.title')%> <%= @medical_test.name %> de <%= @medical_test.kind %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns" >
    <%= render 'shared/test_header', medical_test: @medical_test %>


    <% if @medical_test.instructions.present? %>
      <p><strong>Instrucciones: </strong> <%= simple_format(@medical_test.instructions) %> </p>
    <% end %>

    <p><strong> Informe: </strong> <%= @medical_test.report %> </p>

    <% if @medical_test.name == 'Análisis' %>
      <%= render 'shared/show_analysis' %>
    <% else %>

    <% end %>

  </div>
</div>

<%= link_to 'Edit', edit_medical_test_path(@medical_test) %> |
<%= link_to 'Back', medical_tests_path(patient_id: @medical_test.patient_id) %>
