<h1 class="page-title"> <%= t('medical_tests.show.title') %></h1>
<%= render 'show_links' %>
<div class="row">
  <div class="small-12 columns" >
    <%= render 'shared/test_header', medical_test: @medical_test %>

    <% if @medical_test.instructions.present? %>
      <fieldset>
        <legend>Instrucciones: </legend>
        <%= simple_format(@medical_test.instructions) %>
      </fieldset>
    <% end %>
    <% if @medical_test.report.present? %>
      <fieldset>
        <legend>Informe: </legend>
        <%= @medical_test.report %>
      </fieldset>
    <% end %>

    <%= render 'shared/show_documents', resource: @medical_test %>
    <% if @medical_test.analysis_results.present?  %>
      <fieldset>
        <legend> Determinaciones: </legend>
        <%= render 'shared/show_analysis', medical_test: @medical_test %>
      </fieldset>
    <% end %>

  </div>
</div>

<%= render 'show_links' %>
