<%= render 'show_links' %>

<fieldset>
  <legend>Datos </legend>
  <p>Paciente: <strong><%= @medical_test.history.user.full_name %></strong></p>
  <p>Prueba: <strong><%= @medical_test.name %></p></strong>
</fieldset>

<div class="row">
  <div class="small-12 columns" >
    <%= render 'shared/test_header', medical_test: @medical_test %>

    <% if @medical_test.instructions.present? %>
      <fieldset>
        <legend>Instrucciones: </legend>
        <%= simple_format(@medical_test.instructions) %>
      </fieldset>
    <% end %>
    <% if @medical_test.report.present? %>
      <fieldset>
        <legend>Informe: </legend>
        <%= @medical_test.report %>
      </fieldset>
    <% end %>

    <%= render 'shared/show_documents', resource: @medical_test %>
    <% if @medical_test.analysis_results.present?  %>
      <fieldset>
        <legend> Determinaciones: </legend>
        <%= render 'shared/show_analysis', medical_test: @medical_test %>
      </fieldset>
    <% end %>

  </div>
</div>

<%= render 'show_links' %>
