<div class="row">
  <div class="small-12 columns" >
    <h3><%=  t('medical_tests.show.title')%> de <%= @medical_test.history.patient.full_name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns" >
    <%= render 'shared/test_header', medical_test: @medical_test %>

    <% if @medical_test.instructions.present? %>
      <fieldset>
        <legend>Instrucciones: </legend>
        <%= simple_format(@medical_test.instructions) %>
      </fieldset>
    <% end %>
    <% if @medical_test.report.present? %>
      <fieldset>
        <legend>Informe: </legend>
        <%= @medical_test.report %>
      </fieldset>
    <% end %>

    <%= render 'shared/show_documents', resource: @medical_test %>

    <% if @medical_test.analysis_results.present?  %>
      <%= render 'shared/show_analysis', medical_test: @medical_test %>
    <% end %>

  </div>
</div>

<%= link_to t('actions.edit'), edit_medical_test_path(@medical_test) %> |
<%= link_to 'Historia', history_path(@medical_test.history) %> |
<%= link_to 'Todas las pruebas', medical_tests_path(patient_id: @medical_test.history.patient) %>

