<%= form_with(model: professional, local: true) do |f| %>

  <div class="row">
    <fieldset>
      <legend> <%= t('professional.show.data_legend') %> </legend>
      <div class="small-12 medium-12 columns">
        <div class="small-12 medium-4 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="small-12 medium-8 columns end">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="small-12 medium-12 columns">
        <div class="small-12 medium-6 columns">
          <%= f.label :speciality_id %>
          <%= f.select :speciality_id, options_from_collection_for_select(Speciality.all, 'id', 'name', f.object.speciality.id) %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label :medical_center_id %>
          <%= f.select :medical_center_id, options_from_collection_for_select(MedicalCenter.all, 'id', 'name', f.object.medical_center.id) %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend> <%= t('professional.show.data_comments') %> </legend>
      <div class="small-12 medium-12 columns">
        <%= f.text_area :comments %>
      </div>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.submit t("actions.save") %>
  </div>

<% end %>