<div class="row" >
  <div class="small-12 columns" >
    <div class="small-6 medium-1 columns" >
    </div>
    <div class="small-6 medium-11 columns" >
      <h1><%= t('professional.show.title') %> </h1>
      <table>
         <tr>
          <th> <%= t('activerecord.attributes.user.first_name') %> </th>
          <td> <%= @professional.full_name %> </td>
        </tr>

        <tr>
          <th> <%= t('activerecord.attributes.user.speciality') %> </th>
          <td> <%= @professional.speciality.name %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.user.medical_center') %> </th>
          <td> <%= @professional.medical_center.name %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.user.comments') %> </th>
          <td> <%= simple_format(@professional.comments) %> </td>
        </tr>
      </table>
      <hr>
      <%= link_to t('actions.edit'), edit_professional_path(@professional) %> |
      <%= link_to t('actions.back'), professionals_path %>
    </div>
  </div>
</div>
