<div class="row" >
  <div class="small-12 columns">
    <h1>Subgrupos de Determinaciones Analíticas#index</h1>
  </div>
</div>

<div class="row" >
  <div class="small-12 columns">
    <table>
      <tr>
        <th> Grupo</th>
        <th> Nombre</th>
        <th> Activo</th>
        <th colspan="3"> Acciones</th>
      </tr>
      <% @subgroups.each do |subgroup| %>
        <tr>
          <td><%= subgroup.analytical_group.name %> </td>
          <td><%= subgroup.name %> </td>
          <td><%= subgroup.inactive %> </td>
          <td> <%= link_to '', analytical_items_path(group: subgroup.analytical_group), class: "icon-search", title: 'Items'  %></td>
          <td> <%= link_to '', edit_analytical_subgroup_path(subgroup), class: "icon-pencil", title: 'Editar'  %></td>
          <td> <%= link_to '', analytical_subgroup_path(subgroup), method: :delete, class: "icon-trash", confirm: "Are you sure?", title: "Eliminar"  %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
