<%= form_with(model: speciality, local: true) do |f| %>
  <% if speciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speciality.errors.count, "error") %> prohibited this speciality from being saved:</h2>
      <ul>
      <% speciality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label      :denomination %>
      <%= f.text_field :denomination %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
