<div class="row" >
  <div class="small-12 columns" >
    <h1 class="page-title"><%= t('specialities.show.title') %> </h1>
  </div>
  <div class="small-12 columns" >
    <div class="small-6 medium-11 columns" >
      <table>
        <tr>
          <th> <%= t('activerecord.attributes.speciality.name') %> </th>
          <td> <%= @speciality.name %> </td>
        </tr>
      </table>

      <%= link_to t('actions.edit'), edit_speciality_path(@speciality) %> |
      <%= link_to t('actions.back'), specialities_path %>
    </div>
  </div>
</div>