<%= render 'shared/errors', resource: user %>

<%= form_with(model: user, local: true) do |form| %>
  <fieldset>
    <legend>
      <%= t('users.block.personal_data') %>
    </legend>
    <div class="row">
      <div class="fieldset small-12 columns">
        <div  class="medium-4 small-12 columns">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>
        <div  class="medium-8 small-12 columns">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>
      </div>
      <div  class="medium-12 small-12 columns">
        <div  class="medium-3 small-12 columns">
          <%= form.label :document %>
          <%= form.text_field :document %>
        </div>
        <div  class="medium-3 small-12 columns end">
          <%= form.label :born_date %>
          <%= form.date_field :born_date %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <fieldset>
        <legend><%= t('users.fields') %> </legend>
        <div class="small-12 columns">
          <%= link_to_add_association '[+] añadir campo', form, :properties %>
        </div>
        <table>
          <tr>
            <th> <%=  t('activerecord.attributes.property.fieldset') %> </th>
            <th> <%=  t('activerecord.attributes.property.name') %> </th>
            <th> <%=  t('activerecord.attributes.property.value') %> </th>
            <th> <%=  t('activerecord.attributes.property.order') %> </th>
          </tr>
          <%= form.fields_for :properties do |f| %>
            <tr>
              <td>
                <%= f.text_field :fieldset, list: 'fieldset' %>
                <datalist id="fieldset">
                  <% Property.all.pluck(:fieldset).uniq.each do |fieldset| %>
                    <option ><%= fieldset %></option>
                  <% end %>
                </datalist>
              </td>
              <td><%= f.text_field :name %></td>
              <td><%= f.text_field :value %></td>
              <td><%= f.text_field :order %></td>
            </tr>
          <% end %>
        </table>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="documents small-12">
          <%= render 'documents/nested_documents', documentable: @user, f: form %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('actions.save'), class: "button hollow" %>
  </div>
<% end %>