<%= form_with(model: user, local: true) do |f| %>
  <fieldset>
    <legend>
      <%= t('users.block.personal_data') %>
    </legend>
    <div class="row">
      <div class="fieldset small-12 columns">
        <div  class="medium-4 small-12 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div  class="medium-8 small-12 columns">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div  class="medium-12 small-12 columns">
        <div  class="medium-3 small-12 columns">
          <%= f.label :document %>
          <%= f.text_field :document %>
        </div>
        <div  class="medium-3 small-12 columns end">
          <%= f.label :born_date %>
          <%= f.date_field :born_date %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend> <%= t('users.block.public_org') %> </legend>

    <div class="row">
      <div class="small-12 columns">
        <div  class="medium-6 small-12 columns">
          <%= f.label :public_health_org %>
          <%= f.text_field :public_health_org %>
        </div>
        <div  class="medium-6 small-12 columns">
          <%= f.label :public_health_org_url %>
          <%= f.text_field :public_health_org_url %>
        </div>
      </div>
      <div  class="medium-12 small-12 columns">
        <div  class="medium-4 small-12 columns">
          <%= f.label :public_health_membership_number %>
          <%= f.text_field :public_health_membership_number %>
        </div>
        <div  class="medium-4 small-12 columns">
          <%= f.label :public_health_card_number %>
          <%= f.text_field :public_health_card_number %>
        </div>
        <div  class="medium-4 small-12 columns">
          <%= f.label :public_health_autonomic_code %>
          <%= f.text_field :public_health_autonomic_code %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t('users.block.private_company') %> </legend>

    <div class="row">
      <div class="small-12 columns">
        <div  class="medium-6 small-12 columns">
          <%= f.label :private_health_company %>
          <%= f.text_field :private_health_company %>
        </div>
        <div  class="medium-6 small-12 columns">
          <%= f.label :private_health_company_url %>
          <%= f.text_field :private_health_company_url %>
        </div>
      </div>
      <div  class="medium-12 small-12 columns">
        <div  class="medium-4 small-12 columns">
          <%= f.label :private_health_card_number %>
          <%= f.text_field :private_health_card_number %>
        </div>
      </div>
   </div>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="documents small-12">
          <%= render 'documents/nested_documents', documentable: @user, f: f %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('actions.save'), class: "button hollow" %>
  </div>
<% end %>