<fieldset>
  <legend><%= t('users.fields') %> </legend>
  <table>
    <tr>
      <th> <%=  t('activerecord.attributes.property.fieldset') %> </th>
      <th> <%=  t('activerecord.attributes.property.name') %> </th>
      <th> <%=  t('activerecord.attributes.property.value') %> </th>
      <th> <%=  t('activerecord.attributes.property.order') %> </th>
    </tr>
    <tr>
      <td>
        <%= f.text_field :fieldset, list: 'fieldset' %>
        <datalist id="fieldset">
          <% Property.all.pluck(:fieldset).uniq.each do |fieldset| %>
            <option ><%= fieldset %></option>
          <% end %>
        </datalist>
      </td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :value %></td>
      <td><%= f.text_field :order %></td>
    </tr>
  </table>
</fieldset>

