<fieldset>
  <legend><%= t('users.fields') %> </legend>
  <div class="small-12 medium-3 columns">
    <%= f.label  :fieldset %>
    <%= f.text_field :fieldset %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= f.label      :name %>
    <%= f.text_field :name %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= f.label      :value %>
    <%= f.text_field :value %>
  </div>
  <div class="small-12 medium-1 columns">
    <%= f.label      :order %>
    <%= f.text_field :order %>
  </div>
</fieldset>


