<div class="row" >
  <div class="small-12 columns" >
    <h1 class="page-title"><%= @user.full_name %> </h1>
    <fieldset>
      <legend> Datos personales  </legend>
      <div class="row" >
        <div class="small-12 medium-12 columns" >
          <div class="small-12 medium-5 columns" >
            <strong><%= t('activerecord.attributes.user.born_date') %>: </strong>
            <%= l @user.born_date if @user.born_date.present? %>
          </div>
          <div class="small-12 medium-3 columns end " >
            <strong><%= t('activerecord.attributes.user.document') %>: </strong>
            <%= @user.document %>
          </div>
        </div>
      </div>
    </fieldset>

    <% @user.data_fieldsets.each do |fieldset| %>
      <fieldset>
        <legend><%= fieldset %></legend>
        <div class="small-12 columns">
          <% @user.properties.by_fieldset(fieldset).each do |datum| %>
            <div class="small-4 columns end">
              <strong><%= datum.name %>:</strong> <%= datum.value %>
            </div>
          <% end %>
        </div>
      </fieldset>
      <% end %>

    <%= render 'shared/show_documents', resource: @user %>

    <%= link_to t('actions.edit'), edit_user_path(@user) %> |
    <%= link_to 'Citas e historias', histories_path(user_id: @user) %> |
    <%= link_to 'Pruebas', medical_tests_path(user_id: @user) %> |
    <%= link_to t('actions.back'), users_path %>
  </div>
</div>
