<%= form_with(model: medication, local: true,  multipart: true) do |f| %>
  <% if medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medication.errors.count, "error") %> prohibited this medication from being saved:</h2>
      <ul>
        <% medication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="small-6 columns">
      <%= f.label :presentation %>
      <%= f.text_field :presentation %>
    </div>
    <div class="small-6 columns">
      <%= f.label :active_ingredient %>
      <%= f.text_field :active_ingredient %>
    </div>
    <div class="small-6 columns">
      <%= f.label :groups %>
      <%= f.text_field :groups %>
    </div>
    <div class="small-6 columns">
      <%= f.label :indications %>
      <%= f.text_field :indications %>
    </div>
    <div class="small-6 columns">
      <%= f.label :observations %>
      <%= f.text_field :observations %>
    </div>
  </div>

  <div class="row">
    <div class="documents small-12">
      <%= render 'documents/nested_documents', documentable: @medication, f: f %>
    </div>

    <div class="small-12 columns">
      <div class="actions">
        <%= f.submit t("actions.save") %>
      </div>
    </div>

  </div>

<% end %>