<div class="row" >
  <div class="small-12 columns" >
    <div class="small-6 medium-1 columns" >
    </div>
    <div class="small-6 medium-11 columns" >
      <h1 class="page-title"><%= t('medications.show.title') %> </h1>
      <table>
        <tr>
          <th> <%= t('activerecord.attributes.medication.name') %> </th>
          <td> <%= @medication.name %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.active_ingredient') %> </th>
          <td > <%= @medication.active_ingredient %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.presentation') %> </th>
          <td > <%= @medication.presentation %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.laboratory') %> </th>
          <td > <%= @medication.laboratory %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.groups') %> </th>
          <td > <%= @medication.groups %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.indications') %> </th>
          <td > <%= @medication.indications %> </td>
        </tr>
        <tr>
          <th> <%= t('activerecord.attributes.medication.observations') %> </th>
          <td > <%= @medication.observations %> </td>
        </tr>
        <tr>
          <th>Documentación</th>
          <td>
            <%= render 'documents/documents',
                       documents: @medication.documents,
                       max_documents_allowed: Medication.max_documents_allowed %>
          </td>
        </tr>
      </table>

    <%= link_to t('actions.edit'), edit_medication_path(@medication) %> |
    <%= link_to t('actions.back'), medications_path %>
    </div>
  </div>
</div>