<% if appointments(@user, :history).send(kind).present? %>
  <div class="row" >
    <div class="small-12 columns">
      <div class="small-4 columns end">
        <h4>Próximas citas</h4>
      </div>
    </div>

    <div class="row" >
      <div class="small-2 columns end">
        <%= link_to t('actions.create', resource: 'cita'), new_history_path(user_id: @user, kind: 'cita' ) %>
      </div>
      <% appointments(@user, :history).send(kind).each do |appointment| %>
        <div class="small-12 columns">
          <div class="panel">
            <p>
              <strong> <%= appointment.professional.speciality.name %> - Dr/a <%= appointment.professional.full_name %></strong>
              <strong> <%= l appointment.event_at %> </strong>
              <br>
              <%= appointment.professional.medical_center.name %> ,
              <%= appointment.location %>
            </p>
            <p>
              <strong>Motivo</strong>
              <%= appointment.reason %>
            </p>
            <p>
              <%= link_to t('actions.delete', resource: 'cita'),
                          history_path(appointment, user_id: @user),
                          method: :delete, data: { confirm: t('actions.destroy.confirmation') }
              %>
            </p>

          </div>
        </div>

        <% if appointments(@user, :history).send(kind).empty? %>
          <div class="small-12 columns">
            <div class="panel" >
              No hay citas pendientes
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>