<h4>Historial</h4>

<%= render "histories/search_form" %>

<%= link_to " " + t('actions.create', resource: 'cita'), new_history_path(user_id: user, kind: 'appointment'), class: "icon-calendar" %> |
<%= link_to " " + t('actions.create', resource: 'nota'), new_history_path(user_id: user, kind: 'annotation' ),class: "icon-pencil" %>  |
<%= link_to " " + 'Todas las pruebas', medical_tests_path(user_id: @user), class: "icon-drug-medecine-streamline-syringue", title: "Pruebas" %>

<% @histories.each do |history| %>
  <br>
  <%= render "shared/history", history: history%>
<% end %>

<% if histories(user).empty? %>
  <div class="panel">
    No hay datos
  </div>
<% end %>
