<div class="panel">
  <fieldset class="row" >
    <div class="small-12 columns" >
      <div class="small-6 columns" >
      </div>
      <div class="small-3 columns" >
        <%= history.id.to_s%>
        <%= '/' + history.process_id.to_s if history.process_id.present? %> |
        <%= link_to '', edit_history_path(history), class: 'icon-pencil' %> |
        <%= link_to '', history_path(history), method: :delete, class: 'icon-trash',
                    data: { confirm: t('actions.destroy.confirmation') } %>
      </div>
    </div>

    <div class="small-12 columns" >
      <% if history.professional.present? %>
        <span class="history-item">Consulta: </span>
        <span class=" <%= history.pending  %>">
          <%= l history.event_at if history.event_at.present? %>,
          <strong><%= history.speciality&.name %> </strong>
          Dr/a. <%= history.professional.full_name %>
        </span>,
        <%= history.professional.medical_center.name %>
      <% else %>
        <span class="history-item">Fecha de la anotación: </span>
        <span class=" <%= history.pending  %>"><%= l history.event_at %></span>
        <br>
      <% end %>
    </div>

    <% if history.has_process? %>
      <div class="small-12 columns" >
        <p><br>
          <span class="history-item">Proceso: </span>
          <%= history.process.reason %> <%= l history.process.event_at, format: :date %>
          <%= link_to '',
                      histories_path(user_id: history.user, process: history.process),
                      class: 'icon-search', target: '_blank',
                      title: 'Ver todo el proceso' %>
        </p>
      </div>
    <% end %>
    <div class="small-12 columns" >
      <span class="history-item"> Motivo: </span>
      <%= history.reason %>
      <br>
    </div>
    <div class="small-12 columns" >
      <br>
      <span class="history-item">Notas: </span>
      <%= simple_format(history.note) %>
    </div>

      <% if history.prescriptions.present? %>
        <fieldset class="history-item" >
          <legend> Recetas: </legend>
          <ul>
            <% history.prescriptions.each do |prescription| %>
              <li>
                <% if prescription.medication.documents.present? %>
                  <%= link_to '',
                              prescription.medication.documents.first.attachment.url,
                              class: 'icon-file-pdf-o', target: '_blank',
                              title: prescription.medication.documents.first.title%>
                <% end %>
                <%= prescription.medication.name %>. Dosis:  => <%= prescription.posology %>, desde <%= l prescription.init_at %>
                hasta <%= l prescription.end_at %>
              </li>
            <% end %>
          </ul>
      </fieldset>
    <% end %>

    <% if history.medical_tests.present? %>
      <fieldset class="history-item" >
        <legend>Pruebas: </legend>
          <ul>
            <% history.medical_tests.each do |test| %>
              <li>
                <%= link_to test.name, test, target: '_blank', title: test.name %>
                => <%= l test.performed_at if test.performed_at.present? %> en
                <%= test.medical_center.name if test.medical_center.present?  %> - <%= test.performed_in %>
              </li>
            <% end %>
          </ul>
      </fieldset>
    <% end %>


    <% if history.documents.present? %>
      <%= render 'shared/show_documents', resource: history %>
    <% end %>
  </fieldset>
</div>