<h4>Proximamente</h4>
<div class="row panel">
  <div class="small-12 columns">
    <table class="comming">
      <% medical_comming(user).each do |event| %>
        <tr>
          <td> <%= link_to (l event[4].to_date), event[1] %> </td>
          <td> <%= link_to event[3], event[1] %> </td>
          <td> <%= link_to event[5], event[1] %></td>
          <td> <%= link_to event[6], event[1] %></td>
          <td> <%= link_to event[7], event[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
