<div class="row" >
  <div class="small-12 columns">
    <table>
      <thead>
      <tr>
        <th class="short-col">  Nivel</th>
        <th class="long-col">   Determinación</th>
        <th class="medium-col"> Cantidad</th>
        <th class="medium-col"> Rango </th>
        <th class="medium-col"> Comentario </th>
        <th colspan="3" class="short-col">  Acciones</th>
      </tr>
      </thead>
      
      <tbody>
      <% AnalyticalGroup.all.each do |group| %>
        <% next if items_by_group(medical_test, group).empty? %>
        <tr>
          <td colspan="7"> <h6> <%= group.name %> </h6></td>
        </tr>
        <% @items_by_group.each do |item| %>
          <tr>
            <td> <%= result(medical_test, item).level %> <%= @result.grade %></td>
            <td><%= item.name %></td>
            <td>
              <%= amount_result(@result) %> </td>
            <td><%= item.min_range %>-<%= item.max_range %> </td>
            <td><%= item.comments %> </td>
            <td><%= link_to '', @result, method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: "icon-trash" %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
