<fieldset>
  <legend>Información </legend>
  <p>Paciente: <strong><%= @medical_test.history.user.full_name %></strong></p>
  <p>Prueba: <strong><%= @medical_test.name %></p></strong>
  <p>Fecha de realización: <strong><%= l medical_test.performed_at if medical_test.performed_at.present? %></strong>
  en <%= medical_test.medical_center&.name %>
  <% if medical_test.history.professional.present? %>
    <br>Prescrito por: <strong> Dr/a <%= medical_test.history.professional.full_name  %> </strong> -
    <%= medical_test.history.professional.speciality.name %>  -
  <% end %>
  </p>
</fieldset>

