<p> Paciente: <strong><%= medical_test.patient.full_name %> </strong>
  <br>Fecha de realización: <strong><%= l medical_test.performed_at %></strong>
  <br>Prescrito por: <strong> Dr/a <%= medical_test.professional.full_name %> </strong> -
  <%= medical_test.professional.speciality.denomination %>  - <%= medical_test.medical_center.name %>
</p>
