<h3> Anaĺitica de <%= @analysis.patient.full_name %> </h3>

<p> <strong> Dr/a <%= @analysis.professional.full_name %> </strong> - <%= @analysis.professional.speciality.denomination %>  - <%= @analysis.medical_center.name %> </p>
<p> <strong>Fecha de extraccion: </strong><%= l @analysis.extracted_at %>  </p>

<div class="row" >
  <div class="small-12 columns">
    <table>
      <thead>
      <tr>
        <th>  </th>
        <th> Determinación </th>
        <th> Rango </th>
        <th> Cantidad </th>
        <th> Detalles </th>
        <th colspan="4"></th>
      </tr>
      </thead>
      <tbody>
      <% AnalyticalGroup.all.each do |group| %>
        <% next if items_by_group(@analysis, group).empty? %>
        <tr>
          <td colspan="6"> <h3> <%= group.name %> </h3></td>
        </tr>
        <% @items_by_group.each do |item| %>
          <tr>
            <td><%= result(@analysis, item)[:level] %> <%= @result[:grade] %></td>
            <td><%= item.name %></td>
            <td><%= item.min_range %>-<%= item.max_range %> </td>
            <td><%= @result[:amount] %>  <%= @result[:unit] %></td>

            <td><%= link_to '', @analysis, class: "icon-search" %></td>
            <td><%= link_to '', edit_analysis_path(@analysis), class: "icon-pencil" %></td>
            <td><%= link_to '', @analysis, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-trash" %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_analysis_path(@analysis) %> |
<%= link_to 'Back', analyses_path %>
