<div class="row" >
  <div class="smal-12 columns">
    <div class="small-6 columns">
      <%= form.label :professional_id %>
      <%= form.select :professional_id,
                      options_from_collection_for_select(Professional.all,
                                                         'id',
                                                         'full_name_speciality',
                                                         @history.professional_id),
                      {:include_blank => 'Selecciona profesional'}
      %>
    </div>
  </div>
  <div class="smal-12 columns">
    <div class="small-4 columns">
      <%= form.label :event_at, 'Fecha y hora de la cita' %>
      <%= form.datetime_field :event_at %>
    </div>
    <div class="small-4 columns">
      <%= form.label :medical_center_id %>
      <%= form.select :medical_center_id,
                      options_from_collection_for_select(MedicalCenter.all,
                                                         'id',
                                                         'name',
                                                         @history.medical_center_id),
                      {:include_blank => 'Selecciona centro médico'}
      %>
    </div>
    <div class="small-2 columns end">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>
</div>
