<%= render 'shared/errors', resource: @history %>

<div class="history row">
  <%= form_with(model: @history, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: @history.user.id %>
    <%= form.hidden_field :kind, value: @history.kind %>

    <div class="small-12 columns actions">
      <div class="small-10 columns actions">
        <%= link_to t('actions.back'), histories_path(user_id: @history.user) %>
      </div>
      <div class="small-2 columns actions">
        <%= form.submit t('actions.save'), class: "button hollow small" %>
      </div>
    </div>

    <fieldset>
      <legend> Datos de la historia</legend>

      <% unless form.object.kind.present?  %>
        <div class="small-6 columns" >
            <%= form.label :kind %>
            <%= form.select :kind,
                            options_for_select(History.kinds, @history.kind),
                            {:include_blank => 'Selecciona nota o cita'} %>
        </div>
      <% end %>

      <div class="small-12 columns" >
        <div class="small-6 columns" >
          <span> Proceso:
            <%= form.select :process_id,
                           options_from_collection_for_select(History.initials, 'id', 'process_name', @history.process_id),
                           {:include_blank => 'Selecciona proceso'} %>
          </span>
        </div>
        <div class="small-2 columns">
          <label >
            Proceso inicial
            <%= form.check_box :initial_process %>
          </label>
        </div>
        <% if form.object.kind == 'appointment' %>
          <%= render 'appointment', form: form %>
        <% else %>
          <%= render 'annotation', form: form %>
        <% end %>
      </div>

      <div class="small-12 columns" >
        <div class="small-12 columns">
          <%= form.label :reason %>
          <%= form.text_area :reason %>
        </div>
        <div class="small-12 columns" >
          <%= form.label :note %>
          <%= form.text_area :note, class: "note" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Prescripciones</legend>
      <% if form.object.prescriptions.present? %>
        <div class="small-12 columns">
          <%= form.fields_for :prescriptions do |prescription| %>
            <%= render 'prescription_fields', f: prescription %>
          <% end %>
        </div>
      <% end %>
      <br>
      <%= link_to_add_association 'Añadir receta', form, :prescriptions %>
    </fieldset>

    <fieldset>
      <legend>Pruebas</legend>
      <% if form.object.medical_tests.present? %>
        <div class="small-12 columns">
          <%= form.fields_for :medical_tests do |medical_test| %>
            <%= render 'medical_test_fields', f: medical_test %>
          <% end %>
        </div>
      <% end %>
      <br>
      <%= link_to_add_association 'Añadir prueba', form, :medical_tests%>

    </fieldset>

    <div class="row">
      <div class="documents small-12">
        <%= render 'documents/nested_documents', documentable: @history, f: form %>
      </div>
    </div>

    <div class="small-10 columns actions">
      <%= link_to t('actions.back'), histories_path(user_id: @history.user) %>
    </div>
    <div class="small-2 columns actions">
      <%= form.submit t('actions.save'), class: "button hollow" %>
    </div>
  <% end %>
</div>