<h4>Historia</h4>
<%= link_to t("actions.create", resource: 'Historia'), new_history_path(patient_id: @patient) %>
<% @patient.histories.each do |history| %>
  <div class="panel">
    <p>
      <strong>Consulta: </strong><%= history&.appointment.appointment_time.to_s%>
      <%= history&.appointment.professional.full_name %>   <td> <%= history&.appointment.professional.speciality.denomination %>
    <%= history&.appointment.professional.medical_center.name %>
    </p>
    <p>
      <strong>Motivo: </strong> <br>
      <%= history&.appointment.reason %>
    </p>
    <p>
      <strong> Notas: </strong> <br>
      <%= simple_format(history.note) %>
    </p>
    <p>
      <strong> Pruebas:</strong>
      <ul>
      <% history.appointment.medical_tests.each do |test| %>
        <li>
          <%= test.name %> - <%= l test.performed_at %>
        </li>
      <% end %>
      </ul>
    </p>
    <p>
      <strong> Tratamientos:</strong>
    </p>
  </div>
<% end %>


<% if @patient.histories.empty? %>
  <div class="panel" >
    No hay datos
  </div>

<% end %>
