<div class="row">
  <div class="small-6">
    <fieldset>
      <legend>Prescripción</legend>
      <div class="small-12">
        <%= f.label  :medication_id %>
        <%= f.select :medication_id,
                     options_from_collection_for_select(Medication.all, 'id', 'name', f.object.medication_id),
                     {:include_blank => 'Selecciona medicamento'} %>
      </div>
      <div class="small-12">
        <%= f.label  :posology %>
        <%= f.text_field :posology %>
      </div>
      <div class="small-6">
        <%= f.label  :init_at %>
        <%= f.date_field   :init_at %>

        <%= f.label  :end_at %>
        <%= f.date_field   :end_at %>
      </div>
      <%= link_to_remove_association "Eliminar receta", f %>
    </fieldset>
  </div>
</div>

