<fieldset>
  <legend><%= t('histories.index.search.title') %> </legend>
    <%= search_form_for @search, url: search_histories_path(user_id: @user), method: :post do |f| %>
      <div class= "row">
        <div class="small-12 columns">
          <p>
            <%= t('histories.index.search.information') %>
          </p>
          <%= f.condition_fields do |c| %>
            <%= render 'histories/condition_fields', f: c %>
          <% end %>
        </div>
      </div>
      <div class="medium-4 small-3 columns">
        <p><%= f.submit t('actions.search'), class: "hollow button small" %></p>
      </div>
    <% end %>
</fieldset>
