<div class="row">
  <div class="small-12 columns" >
    <h2>Nota médica </h2>
    <h3> <%= @history.user.full_name %></h3>
  </div>
</div>

<%= link_to t('actions.edit'), edit_history_path(@history) %> |
<%= link_to t('actions.new'), new_history_path(user_id: @history.user) %> |
<%= link_to t('actions.back'), histories_path(user_id: @history.user) %>
<br>

<%= render "shared/history", history: @history %>