<p id="notice"><%= notice %></p>

<h1 class="page-title"><%= t('medical_center.index.title')%> Medical Centers</h1>

<table>
  <thead>
    <tr>
      <th> <%= sort_link @search, :name %></th>
      <th> <%= sort_link @search, :address %></th>
      <th> <%= sort_link @search, :web %></th>
      <th> <%= sort_link @search, :email %></th>
      <th> <%= sort_link @search, :main_phone %></th>
      <th> <%= sort_link @search, :appoinment_phone %></th>
      <th colspan="3"><%= t('actions.column') %></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_centers.each do |medical_center| %>
      <tr>
        <td> <%= medical_center.name %> </td>
        <td> <%= medical_center.address %> </td>
        <td> <%= link_to medical_center.name, "http://#{medical_center.web}", target: "_blank" unless medical_center.web.blank? %> </td>
        <td> <%= mail_to medical_center.email %> </td>
        <td> <%= medical_center.main_phone %> </td>
        <td> <%= medical_center.phone %> </td>
        <td><%= link_to '  ', medical_center, class: "icon-search" %></td>
        <td><%= link_to '  ', edit_medical_center_path(medical_center), class: "icon-pencil" %></td>
        <td><%= link_to '  ', medical_center, method: :delete, data: { confirm: t('actions.destroy.confirmation') },  class: "icon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Center', new_medical_center_path %>
