<h1><%= t('patients.index.title') %> </h1>
<div class="row" >
  <div class="small-12 columns" >
    <table>
      <thead>
        <tr>
          <th> <%= sort_link @search, :first_name %></th>
          <th> <%= sort_link @search, :last_name %></th>
          <th> <%= sort_link @search, :born_date %></th>
          <th> Edad </th>
          <th colspan="4"><%= t('actions.column') %></th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td> <%= patient.first_name %> </td>
            <td> <%= patient.last_name %> </td>
            <td> <%= l patient.born_date %> </td>
            <td> <%= patient.age %> </td>
            <td><%= link_to '  ', patient, class: "icon-search", title: 'Ver paciente' %></td>
            <td><%= link_to '  ', histories_path(patient_id: patient), class: "icon-calendar", title: "Citas e historia" %></td>
            <td><%= link_to '  ', medical_tests_path(patient_id: patient), class: "icon-drug-medecine-streamline-syringue", title: "Pruebas" %></td>
            <td><%= link_to '  ', edit_patient_path(patient), class: "icon-pencil", title: 'Editar'  %></td>
            <td><%= link_to '  ', patient, method: :delete, title: 'Borrar', data: { confirm: t('actions.destroy.confirmation') },  class: "icon-trash" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to t("actions.create", resource: 'Paciente'), new_patient_path %>
  </div>
</div>
