<div class="row" >
  <div class="small-12 columns" >
    <div class="small-6 medium-1 columns" >
    </div>
    <div class="small-6 medium-11 columns" >
      <h1><%= @patient.full_name %> </h1>
      <table>
        <tr>
          <th> <%= t('activerecord.attributes.patient.born_date') %> </th>
          <td> <%= @patient.born_date %> </td>
        </tr>
      </table>
      <%= render 'appointments' %>
      <%= render 'histories' %>

      <%= link_to 'Edit', edit_patient_path(@patient) %> |
      <%= link_to 'Back', patients_path %>
    </div>
  </div>
</div>
