<% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

    <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :nickname %>
<%= f.text_field :nickname %>
<%= f.label :firstname %>
<%= f.text_field :firstname %>
<%= f.label :surname %>
<%= f.text_field :surname %>
<%= f.label :born_date %>
<%= f.date_field :born_date %>

<div class="actions">
  <%= f.submit t('actions.new') %>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
