<div class="row" >
  <div class="small-12 columns" >
    <h1><%= @patient.full_name %> </h1>
    <fieldset>
      <legend> Datos personales  </legend>
      <div class="row" >
        <div class="small-12 medium-12 columns" >
          <div class="small-12 medium-5 columns" >
            <strong><%= t('activerecord.attributes.patient.born_date') %>: </strong>
            <%= l @patient.born_date %>
          </div>
          <div class="small-12 medium-3 columns end " >
            <strong><%= t('activerecord.attributes.patient.document') %>: </strong>
            <%= @patient.document %>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><%= @patient.public_health_org %></legend>
      <div class="row" >
        <div class="small-12 medium-12 columns" >
          <div class="small-12 medium-3 columns" >
            <strong><%= t('activerecord.attributes.patient.public_health_membership_number') %>: </strong>
            <%= @patient.public_health_membership_number%>
          </div>
          <div class="small-12 medium-3 columns" >
            <strong><%= t('activerecord.attributes.patient.public_health_card_number') %>: </strong>
            <%= @patient.public_health_card_number %>
          </div>
          <div class="small-12 medium-3 columns" >
            <strong><%= t('activerecord.attributes.patient.public_health_autonomic_code') %>: </strong>
            <%= @patient.public_health_autonomic_code %>
          </div>
          <div class="small-12 medium-3 columns" >
            <strong><%= t('activerecord.attributes.patient.public_health_org_url') %>: </strong>
            <%= link_to @patient.public_health_org_url, target: '_blank' %>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><%= @patient.private_health_company %></legend>
      <div class="row" >
        <div class="small-12 medium-12 columns" >
          <div class="small-12 medium-6 columns" >
            <strong><%= t('activerecord.attributes.patient.private_health_card_number') %>: </strong>
            <%= @patient.private_health_card_number %>
          </div>
          <div class="small-12 medium-4 columns end" >
            <strong><%= t('activerecord.attributes.patient.private_health_company_url') %>: </strong>
            <%= link_to @patient.private_health_company_url, target: '_blank' %>
          </div>
        </div>
      </div>
    </fieldset>

    <%= link_to t('actions.edit'), edit_patient_path(@patient) %> |
    <%= link_to 'Citas e historias', histories_path(patient_id: @patient) %> |
    <%= link_to 'Pruebas', medical_tests_path(patient_id: @patient) %> |
    <%= link_to t('actions.back'), patients_path %>
  </div>
</div>
