<div class="row">
  <div class="small-12 columns">
    <table>
      <tr>
        <th><%= t('activerecord.attributes.appointments.patient')%></th>
        <td> </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.appointments.patient')%></th>
        <td></td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.appointments.patient')%></th>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="small-12 columns">
    <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
    <%= link_to 'Back', appointments_path %>
  </div>
</div>