<header>
  <div class="row">
    <div class="small-1 columns">
      <%= image_tag('caduceo.gif', class: 'logo-gif hide-for-small-only float-left', size: '80x80', alt: t('app.name')) %>
    </div>
    <div class="small-11 columns">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1> <%= link_to t('app.name'), root_path %> </h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li <%= "class=active" if controller_name == "users" %> >
              <%= link_to t('activerecord.models.user', count: 2), users_path %>
            </li>

            <li class="has-dropdown" >
              <a href="#">Datos maestros</a>
              <ul class="dropdown">
                <li <%= "class=active" if controller_name == "professionals" %>>
                  <%= link_to t('activerecord.models.profesional', count: 2), professionals_path %>
                </li>
                <li <%= "class=active" if controller_name == "medical_centers" %> >
                  <%= link_to t('activerecord.models.medical_center', count: 2), medical_centers_path %>
                </li>
                <li <%= "class=active" if controller_name == "medications" %>>
                  <%= link_to t('activerecord.models.medication', count: 2), medications_path %>
                </li>
                <li <%= "class=active" if controller_name == "specialities" %>>
                  <%= link_to t('activerecord.models.speciality', count: 2), specialities_path %>
                </li>
                <li <%= "class=active" if controller_name == "anaytical_groups" %>>
                  <%= link_to t('activerecord.models.analytical_group', count: 2), analytical_groups_path %>
                </li>
              </ul>
            </li>

            <li class="has-dropdown" >
              <a href="#">Informes</a>
              <ul class="dropdown">
                <li><a href="#">Informe 1</a></li>
                <li class="active"><a href="#">Informe 2</a></li>
              </ul>
            </li>
          </ul>

          <ul class="right">
            <%= render "devise/menu/login_items" %>
          </ul>
        </section>
      </nav>
    </div>

  </div>
  <div class="small-12">

  </div>
</header>
